# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Eclipse project settings
.settings/

# Ignore webapp folder as it will be used solely for the latest javadocs
# and hosted using TravisCI and Google Cloud
src/main/webapp/

# But we still need to track the web-inf folder
!src/main/webapp/WEB-INF/

// Continous Integration
travis-client-secret.json